{% load static %}

{% if user.is_authenticated %}
  <!-- side bar -->
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/home">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/empTable">
              <span data-feather="home" class="align-text-bottom"></span>
              Employees
            </a>
          </li>
          {% elif user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="/custTable">
              <span data-feather="file" class="align-text-bottom"></span>
              Customers
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/shop">
              <span data-feather="home" class="align-text-bottom"></span>
              Shop
            </a>
          </li>
        
        {% endif %}
        {% if user.is_superuser == 1 %}
          <li class="nav-item">
            <a class="nav-link" href="/custTable">
              <span data-feather="file" class="align-text-bottom"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prodTable">
              <span data-feather="file" class="align-text-bottom"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/shop">
              <span data-feather="home" class="align-text-bottom"></span>
              Shop
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/transactionTable">
              <span data-feather="home" class="align-text-bottom"></span>
              Transactions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/catTable">
              <span data-feather="home" class="align-text-bottom"></span>
              Categories
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% comment %} {% elif user.is_active %}
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/EmpHome">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Main Page
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/shop">
            <span data-feather="home" class="align-text-bottom"></span>
            Shop
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custTrans">
            <span data-feather="file" class="align-text-bottom"></span>
            Transactions
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endif %} {% endcomment %}
{% endif %}
<!-- End side bar -->
