{% extends 'base.html' %}
{% block content %}
  <section id="shop" class="my-5 py-5">
    <div class="container mt-5 py-5">
      <h3>Our Products</h3>
      <hr>
      <p>Here you can check out our products</p>
    </div>
    <div class="row mx-auto container">


     {% for product in products %}

      <div onclick="#" class="product text-center col-lg-3 col-md-4 col-sm-12">
        <img class="img-fluid mb-3" src="https://as1.ftcdn.net/v2/jpg/03/11/87/52/1000_F_311875255_d57wDCwlZxdtOEwsnmXLHkV1r29i1R2U.jpg"/>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">{{ product.name }}</h5>
        <h4 class="p-price">${{ product.price }}</h4>
        <a  class="btn shop-buy-btn btn-success" href="<?php echo "single_product.php?product_id=".$row['product_id'];?>">Buy Now</a>
      </div>
     {% endfor %}



{% comment %} Page number html below: {% endcomment %}
      {% comment %} <nav aria-label="Page navigation example" class="mx-auto">
        <ul class="pagination mt-5 mx-auto">
          
          <li class="page-item <?php if($page_no<=1){echo 'disabled';}?> ">
               <a class="page-link" href="<?php if($page_no <= 1){echo '#';}else{ echo "?page_no=".($page_no-1);} ?>">Previous</a>
          </li>


          <li class="page-item"><a class="page-link" href="?page_no=1">1</a></li>
          <li class="page-item"><a class="page-link" href="?page_no=2">2</a></li>

          
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="<?php echo "?page_no=".$page_no;?>"><?php echo $page_no;?></a></li>
         



          <li class="page-item <?php if($page_no >=  $total_no_of_pages){echo 'disabled';}?>">
                 <a class="page-link" href="<?php if($page_no >= $total_no_of_pages ){echo '#';} else{ echo "?page_no=".($page_no+1);}?>">Next</a></li>
         </ul>
      </nav> {% endcomment %}
    </div>
  </section>
{% endblock %}














{% comment %} OLD SHOP PAGE BEGIN {% endcomment %}

{% comment %} {% extends 'base.html' %}
{% block content %}
  <center>
    <strong><a class="add-btn" href="/cart"><button type="button" class="btn btn-success">Go To Cart</button></a></strong>
  </center>
<div class="container">
  <div class="row">
      {% for product in products %}
  <div class="col-sm-4 card-space" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1170/1170577.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Price - {{ product.price }}</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>
</div>
{% endfor %}
      
{% endblock %} {% endcomment %}
{% comment %} OLD SHOP PAGE END {% endcomment %}




  
