{% extends 'home.html' %} 
{% block content %} 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Transactions</title>
</head>
<div class = "emp-body">
    <center>
        <h1>Transactions</h1>
    </center>
    <center>
        <table border=1 width=1200px class="table table-inverse">
            <thead class="thead-primary">
                <tr>
                    <th class="table-primary">Transaction ID</th>
                    <th class="table-primary">Employee ID</th>
                    <th class="table-primary">Customer ID</th>
                    <th class="table-primary">Subtotal</th>
                    <th class="table-primary">Tax</th>
                    <th class="table-primary">Grandtotal</th>
                    <th class="table-primary">Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for pro in transaction %} 
                <tr>
                    <td>{{pro.id}}</td>
                    <td>{{pro.empid}}</td>
                    <td>{{pro.cusid}}</td>
                    <td>{{pro.subtotal}}</td>
                    <td>{{pro.tax}}</td>
                    <td>{{pro.grandtotal}}</td>
                    <td>{{pro.dateadded}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </center>
</div>
{% endblock %}