{% extends "base.html" %}
{% load static %}

{% block title %}
Shopping Cart
{% endblock %}


{% block content %}
<h1> Shopping Cart</h1>
<table width=1200px class="table table-inverse">
    <thead>
        <tr>
            <th class="table-primary">Image</th>
            <th class="table-primary">Product</th>
            <th class="table-primary">Quantity</th>
            <th class="table-primary">Remove</th>
            <th class="table-primary">Unit Price</th>
            <th class="table-primary">Price</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with item.product as product %}
    <tr>
        <td>
            <img width="100px" src="https://as1.ftcdn.net/v2/jpg/03/11/87/52/1000_F_311875255_d57wDCwlZxdtOEwsnmXLHkV1r29i1R2U.jpg">
        </td>
        <td>{{product.name}}</td>
        {% comment %} <td>{{item.quantity}}</td> {% endcomment %}
        <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <div class="input-group-prepend">
                                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.override }}
                                                <input class="btn btn-outline-primary js-btn-plus" type="submit"
                                                    value="Update">
                                            </form>
                                        </div>
                                    </div>
                                </td>
        <td>
            <form action = "{% url "cart:cart_remove" product.id %}" method = "post">
            <input type="submit" value ="Remove">
            {% csrf_token %}
            </form>
        </td>
        <td class = "num">${{item.price}}</td>
        <td class = "num">${{item.total_price}}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
    </tbody>
</table>

<div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <button class="btn btn-outline-primary btn-sm btn-block">Checkout</button>
                    </div>
                </div>
{% endblock %}